// Navigation code here

.navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navItem {
        padding: .75%;
        width: 50%;
        text-align: center;
        
        

        nav  {
            border: blue;
            
            a {
                padding: 5%;
                text-decoration: none;
                color: @header-font-color;
                font-size: 1.5rem;
            }
        }
    }
}